>tc-content {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    >tc-wrapper{ 
    	@import 
	    	"./offers/main.scss", 
	    	"./calls/main.scss", 
	    	"./routes/main.scss", 
	    	"./finance/main.scss";
    }
}
