>tc-footer {
    display: flex;
    height: 2.5rem;
    background: #ffffff;
    flex-direction: row;
    box-shadow: 0 0 1rem hsla(0,0%,0%,0.25);
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
